@page
@model RegisterModel
@{
    ViewData["Title"] = "Kayıt Ol";
}

@{
    ViewData["Title"] = "Hesap oluştur";
}

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index-2.html">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Hesap Oluştur</li>
            </ol>
        </div><!-- End .container -->
    </nav>


    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="heading">
                    <br/>
                    <h2 class="title">Hesap Oluştur</h2>
                    <p>Mağazamızda bir hesap oluşturarak, ödeme sürecinde daha hızlı ilerleyebilir, birden fazla teslimat adresi saklayabilir, siparişlerinizi hesabınızda görüntüleyebilir ve takip edebilir ve daha fazlasını yapabilirsiniz.</p>
                </div><!-- End .heading -->
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h4>Yeni hesap giriş bilgileri için </h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password">Parola</label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword">Tekrar Parolanızı Giriniz</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Hesap Oluştur</button>
                </form>
            </div>
            @*<div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Kayıt olmak için başka bir hizmeti kullanın.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                Yapılandırılmış harici kimlik doğrulama hizmeti yok. Harici hizmetler aracılığıyla oturum açmayı desteklemek için bu ASP.NET uygulamasının ayarlanmasıyla ilgili ayrıntılar için <a href="https://go.microsoft.com/fwlink/?LinkID=532715">bu makaleye</a> bakın.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Kullanarak giriş yapın @provider.DisplayName hesap">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>*@
        </div>
            </div><!-- End .col-md-6 -->

    <div class="mb-5"></div><!-- margin -->
</main><!-- End .main -->






@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
